<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asia | GlobeTrotters</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet">
  <link href="images/land.css" type="text/css" rel="stylesheet">
  <style>
    .bl {
      margin-top: 9px;
    }
  </style>

</head>

<body>



  <nav class="navbar navbar-expand-lg dest-nav">
    <a class="navbar-brand" href="/">GlobeTrotters.</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#About-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destination">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#FAQs">FAQs</a>
        </li>

        <% if(user){%>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/">Login</a>
        </li>
        <% } %>
        <% if(user){%>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <% } %>
      </ul>


    </div>
  </nav>
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div style="border-radius: 7px;" class="jumbotron p-0 col-md-11">


        <img src="/images/asia.jpeg" class="img-fluid" alt="Asia">


        <div class="card-body text-center mb-3">


          <h3 class="card-title h3 my-4"><strong>Asia</strong></h3>

          <p class="card-text py-2">Choose from the options below and take a step closer to your dream destination.</p>




          <form action="country" method="POST">
            <div class="dropdown">
              <select style="width: 20%" class="browser-default custom-select custom-select-lg mb-3" name="country">
                <% if (typeof usersArray2 !== 'undefined' && usersArray2.length > 0) {%>
                <% usersArray2[0].country.forEach(function (op) { %>
                <option value="<%= op %>"><%= op %></option>
                <% }) %>
                <% } %>
              </select>
            </div>
            <input class="btn btn-primary" type="submit">
          </form>


        </div>

      </div>
    </div>

    <div class="jumbotron text-center hoverable p-4">


      <div class="row">

        <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
        <%for (var i = 0; i < usersArray.length; i++) { %>
        <% if(usersArray[i].result.length > 0) { %>
        <% for(var j=0; j< usersArray[i].result.length ; j++) { %>

        <div class="col-md-4 offset-md-1 mx-3 my-3">


          <div class="view overlay">
            <% if(typeof usersArray[i].result[j].blog.data !== 'undefined' && usersArray[i].result[j].blog.data.length > 0){ %>
            <img src="data:image/png;base64,<%= usersArray[i].result[j].blog.data[0] %>" class="img-fluid"
              alt="here is a picture">
            <%} else{ %>
            <img
              src="https://images.pexels.com/photos/2419865/pexels-photo-2419865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              class="img-fluid" alt="Sample image for first version of blog listing">
            <%}%>
           
          </div>

        </div>
      
        
        <div class="bl col-md-7 text-md-left ml-3 mt-3">
          <form action="blogpage" method="POST">
          <h4 class="h4 mb-4"><input style="border: none;" name="blogTitle" value="<%= usersArray[i].result[j].blog.title %>"
            readonly></h4>

            <p class="font-weight-normal"><%= usersArray[i].result[j].blog.description %></p>
            <p class="font-weight-normal">by <a><strong><%= usersArray[i].first_name %>
                  <%= usersArray[i].last_name %></strong></a>
              <br><input style="border:none;width:235px;" name="blogEmail" value="<%= usersArray[i].email %>" readonly></p>

            <button type="submit" class="btn btn-success">Read more</button>
            </form>
          </div>

          <%}%>
       <%}%>
          <%}%>
  <%}%>
        </div>


      </div>

    </div>



    <footer class="page-footer font-small pt-4">


      <div class="container-fluid">
        <div class="row">


          <div class="col-md-4">
            <h1>GlobeTrotters.</h1>

          </div>

          <div class="col-md-4">

            <ul>
              <li><a href="/#About-us">About Us</a></li>
              <li><a href="/destination">Destinations</a></li>
              <li><a href="/#FAQs">FAQs</a></li>
            </ul>
          </div>
          <div class="col-md-4" id="Contact">
            <h4>Contact Us</h4>
            <p><i class="fa fa-mobile" aria-hidden="true"></i> 1234567890
              <br><i class="fa fa-phone" aria-hidden="true"></i> 0987654321
              <br><a href="mailto:globetrotters0820@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                globetrotters0820@gmail.com</a></p>
          </div>

        </div>
      </div>
      <div class="footer-copyright text-center py-3"> Made with <i class="far fa-heart"></i> by GlobeTrotters
      </div>
    </footer>
    <!--/.Footer-->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/js/mdb.min.js"></script>

</body>

</html>