

    <header>

        <nav class="navbar fixed-top navbar-expand-lg dest-nav">
            <a class="navbar-brand" href="/"><strong>Globe Trotters.</strong></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#About-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/destination">Destinations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#FAQs">FAQs</a>
                    </li>
                    <% if(user){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Login</a>
                    </li>
                    <% } %>
                    <% if(user){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <% } %>
                </ul>

            </div>


            </div>
        </nav>
        <div class="view1 intro-2">
            <div class="full-bg-img">
                <div class="mask rgba-black-light flex-center">
                    <div class="container text-center white-text">
                        <div class="offset-4 white-text text-light pt-5 row">

                            <% if(blogArray[0].ProfilePic == 'NA'){ %>
                                <img style="border-radius: 3px;" width="15%" height="50%" src="/images/GlobeTrotters.jpeg"
                                  class="img-fluid" alt="Profile">
                                <%} else{ %>
                                <img style="border-radius: 3px;" width="15%" height="50%"
                                  src="data:image/png;base64,<%= blogArray[0].ProfilePic %>" class="img-fluid" alt="Profile">
                                <%}%>
                                
                            <div style="margin-left: 15px;">
                                <h2><%= blogArray[0].result[0].blog.title %></h2>
                                <p>by <%= blogArray[0].first_name %> <%= blogArray[0].last_name %> </p>
                                <% if(typeof blogArray[0].result[0].blog.date !== 'undefined'){ %>
                                <p><%= blogArray[0].result[0].blog.date.substring(0,16) %></p>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="container">




        <div class="col-md-8 offset-2">
            <% if(typeof blogArray[0].result[0].blog.data !== 'undefined' && blogArray[0].result[0].blog.data.length > 0){ %>
                <img src="data:image/png;base64,<%= blogArray[0].result[0].blog.data[0] %>" class="img-fluid"
                alt="Sample image for first version of blog listing">
                <%}%>
        </div><br>

      
        <p class="font-weight-normal"><br><br> <%= blogArray[0].result[0].blog.content %></p> <br>
        <div class="container">
            <div class="row">
                <% if(typeof blogArray[0].result[0].blog.data !== 'undefined' && blogArray[0].result[0].blog.data.length > 1){ %>
                <% for(var i=1 ; i<blogArray[0].result[0].blog.data.length ; i++){ %>
                <div class="column">
                    <img style="height: 280px" src="data:image/png;base64,<%= blogArray[0].result[0].blog.data[i] %>" class="img-fluid"
                        alt="Sample image for first version of blog listing">
                </div>
                <%} %>
                <% } %>
            </div>
        </div>



    </div>

    </div>

    <br><br>