
  <header>

    <nav class="navbar fixed-top navbar-expand-lg dest-nav">
      <a class="navbar-brand" href="/"><strong>Globe Trotters.</strong></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#About-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/destination">Destinations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#FAQs">FAQs</a>
          </li>
          <% if(user){%>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/">Login</a>
          </li>
          <% } %>
          <% if(user){%>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <% } %>
        </ul>

      </div>


      </div>
    </nav>
    <div class="view2 intro-2">
      <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
          <div class="container text-center white-text">
            <div class="offset-1 white-text text-center pt-5 row">

              <h1 style="font-size: 75;"><%= country_name %></h1>


              <div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
          aria-selected="true">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history"
          aria-selected="false">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="food-tab" data-toggle="tab" href="#food" role="tab" aria-controls="food"
          aria-selected="false">Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="things-tab" data-toggle="tab" href="#things" role="tab" aria-controls="things"
          aria-selected="false">Things to do</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div class="row">

          <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
          <%for (var i = 0; i < usersArray.length; i++) { %>
          <% if(usersArray[i].result.length > 0) { %>
          <% for(var j=0; j< usersArray[i].result.length ; j++) { %>

          <div class="col-md-4 offset-md-1 mx-3 my-3">


            <div class="view2 overlay">
              <% if(typeof usersArray[i].result[j].blog.data !== 'undefined' && usersArray[i].result[j].blog.data.length > 0){ %>
              <img src="data:image/png;base64,<%= usersArray[i].result[j].blog.data[0] %>" class="img-fluid"
                alt="image">
              <%} else{ %>
              <img
                src="https://images.pexels.com/photos/2419865/pexels-photo-2419865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="img-fluid" alt="image">
              <%}%>
              
            </div>

          </div>
         

          <div class="bl col-md-7 text-md-left ml-3 mt-3">
            <form action="blogpage" method="POST">
            <h4 class="h4 mb-4"><input style="border: none;" name="blogTitle" value="<%= usersArray[i].result[j].blog.title %>"
              readonly> </h4>

              <p class="font-weight-normal"><%= usersArray[i].result[j].blog.description %></p>
              <p class="font-weight-normal">by <strong><%= usersArray[i].first_name %>
                  <%= usersArray[i].last_name %></strong><br>
                <% if(typeof usersArray[i].result[j].blog.date !== 'undefined'){ %>
                <%= usersArray[i].result[j].blog.date.substring(0,16) %>
                <%}%>
              <br><input style="border:none;width:235px;" name="blogEmail" value="<%= usersArray[i].email %>" readonly></p>
              <button type="submit" class="btn btn-success">Read more</button>
              </form>
            </div>

            <%}%>
      <%}%>
            <%}%>
  <% } %>
          </div>
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
          <div class="row">

            <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
            <%for (var i = 0; i < usersArray.length; i++) { %>
            <% if(usersArray[i].result.length > 0) { %>
            <% for(var j=0; j< usersArray[i].result.length ; j++) { %>
            <% for(var k=0; k< usersArray[i].result[j].blog.category.length ; k++) { %>
            <% if(usersArray[i].result[j].blog.category[k]=='History') { %>

            <div class="col-md-4 offset-md-1 mx-3 my-3">


              <div class="view2 overlay">
                <% if(typeof usersArray[i].result[j].blog.data !== 'undefined' && usersArray[i].result[j].blog.data.length > 0){ %>
                <img src="data:image/png;base64,<%= usersArray[i].result[j].blog.data[0] %>" class="img-fluid"
                  alt="image">
                <%} else{ %>
                <img
                  src="https://images.pexels.com/photos/2419865/pexels-photo-2419865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  class="img-fluid" alt="image">
                <%}%>
            
            </div>

          </div>
        

          <div class="bl col-md-7 text-md-left ml-3 mt-3">

            <form action="blogpage" method="POST">
              <h4 class="h4 mb-4"><input style="border: none;" name="blogTitle" value="<%= usersArray[i].result[j].blog.title %>"
                readonly> </h4>

                <p class="font-weight-normal"><%= usersArray[i].result[j].blog.description %></p>
                <p class="font-weight-normal">by <strong><%= usersArray[i].first_name %>
                    <%= usersArray[i].last_name %></strong>
                  <br><input style="border:none;width:235px;" name="blogEmail" value="<%= usersArray[i].email %>" readonly></p>
                <button type="submit" class="btn btn-success">Read more</button>
                </form>

              </div>

              <% break;}%>

              <%}%>
            <%}%>
              <%}%>
  <%}%>
              <% } %>
            </div>
          </div>
          <div class="tab-pane fade" id="food" role="tabpanel" aria-labelledby="food-tab">
            <div class="row">

              <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
              <%for (var i = 0; i < usersArray.length; i++) { %>
              <% if(usersArray[i].result.length > 0) { %>
              <% for(var j=0; j< usersArray[i].result.length ; j++) { %>
              <% for(var k=0; k< usersArray[i].result[j].blog.category.length ; k++) { %>
              <% if(usersArray[i].result[j].blog.category[k]=='Food') { %>

              <div class="col-md-4 offset-md-1 mx-3 my-3">


                <div class="view2 overlay">
                  <% if(typeof usersArray[i].result[j].blog.data !== 'undefined' && usersArray[i].result[j].blog.data.length > 0){ %>
                  <img src="data:image/png;base64,<%= usersArray[i].result[j].blog.data[0] %>" class="img-fluid"
                    alt="image">
                  <%} else{ %>
                  <img
                    src="https://images.pexels.com/photos/2419865/pexels-photo-2419865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="img-fluid" alt="image">
                  <%}%>
             
            </div>

          </div>
         

          <div class="bl col-md-7 text-md-left ml-3 mt-3">

            <form action="blogpage" method="POST">
              <h4 class="h4 mb-4"><input style="border: none;" name="blogTitle" value="<%= usersArray[i].result[j].blog.title %>"
                  readonly> </h4>

                  <p class="font-weight-normal"><%= usersArray[i].result[j].blog.description %></p>
                  <p class="font-weight-normal">by <strong><%= usersArray[i].first_name %>
                      <%= usersArray[i].last_name %></strong>
                    <br><input style="border:none;width:235px;" name="blogEmail" value="<%= usersArray[i].email %>" readonly></p>
                  <button type="submit" class="btn btn-success">Read more</button>
                  </form>

                </div>

                <% break;}%>

                <%}%>
            <%}%>
                <%}%>
  <%}%>
                <% } %>
              </div>
            </div>
            <div class="tab-pane fade" id="things" role="tabpanel" aria-labelledby="things-tab">
              <div class="row">

                <% if (typeof usersArray !== 'undefined' && usersArray.length > 0) {%>
                <%for (var i = 0; i < usersArray.length; i++) { %>
                <% if(usersArray[i].result.length > 0) { %>
                <% for(var j=0; j< usersArray[i].result.length ; j++) { %>
                <% for(var k=0; k< usersArray[i].result[j].blog.category.length ; k++) { %>
                <% if(usersArray[i].result[j].blog.category[k]=='Others') { %>

                <div class="col-md-4 offset-md-1 mx-3 my-3">


                  <div class="view2 overlay">
                    <% if(typeof usersArray[i].result[j].blog.data !== 'undefined' && usersArray[i].result[j].blog.data.length > 0){ %>
                    <img src="data:image/png;base64,<%= usersArray[i].result[j].blog.data[0] %>" class="img-fluid"
                      alt="image">
                    <%} else{ %>
                    <img
                      src="https://images.pexels.com/photos/2419865/pexels-photo-2419865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                      class="img-fluid" alt="image">
                    <%}%>
              
            </div>

          </div>
        

          <div class="bl col-md-7 text-md-left ml-3 mt-3">
            
            <form action="blogpage" method="POST">
              <h4 class="h4 mb-4"><input style="border: none;" name="blogTitle" value="<%= usersArray[i].result[j].blog.title %>"
                    readonly> </h4>

                    <p class="font-weight-normal"><%= usersArray[i].result[j].blog.description %></p>
                    <p class="font-weight-normal">by <strong><%= usersArray[i].first_name %>
                        <%= usersArray[i].last_name %></strong>
                      <br><input style="border:none;width:235px;" name="blogEmail" value="<%= usersArray[i].email %>" readonly></p>
                    <button type="submit" class="btn btn-success">Read more</button>
                    </form>

                  </div>

                  <% break;}%>

                  <%}%>
              <%}%>
                  <%}%>
    <%}%>
                  <% } %>
                </div>
              </div>
            </div>
          </div>

          <br><br>